#slider{
	margin-top: 20px;
	width:80%;
	height:50px;
	border:1px solid #000;
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
}
#sliderbar{
	width:37%;
	height:50px;
	border-right: 1px solid #000000;
	background: #d65946;
}
#percent {
	color: #000000;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	left: 25px;
	position: relative;
	top: -35px;
}

input[type="button"], [type="submit"]{
	border : 1px;
	height: 5em;
	width : 10em;
	background-color: #E3E1B8;
	border-radius: 0.5em;
	text-align: center;
	white-space: normal;
	margin-top: 2em;
	margin-bottom: 2em;
}

input[type="submit"] {
	float: right;
}

input[type="button"]:hover{
	background-color: #b0b0a0;
}

input[type="submit"]:hover{
	background-color: #b0b0a0;
}

input[type="button"]:active{
	background-color: #a3a398;
}

input[type="submit"]:active{
	background-color: #a3a398;
}

#vraagTabel {
	display: table;
	width: 50%;
	height: 100px;
	word-wrap: break-word;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#vraag {
	display: table-cell;
	vertical-align: middle;
}

#antwoordButtons {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#volgendeVorigeButtons {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	position: absolute;
	bottom: 0;
}

#terug {
	float: left;
	position: relative;
}

#volgende {
	float: right;
	position: relative;
}

input {
	width: 150px;
	height: 100px;
	margin-left: 10px;
}

#cmdbutton {
	position: absolute;
	top: 10%;
	right: 10%;
	/*    background: transparent;
	font-size:0;*/
}
