 @media only screen and (max-width: 2000px) { 
body {
    font-family: sans-serif;
    background: url(figuren/background.jpg);
    background-size: cover;
}
            
div {		
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 25px;
}
}

@media only screen and (max-width: 480px) {
body {
    font-family: sans-serif;
    background: url(figuren/background.jpg);
    background-size: cover;
}
            
div {		
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 12px;
}
}