body {
    font-family: sans-serif;
    background: url(figuren/background.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#buttonStart {
    margin: 0;
}

#afbeeldingdiv{
    text-align : center;
}

button::-moz-focus-inner {
    border: 0;
}

#vraagBox {
    display: table;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

#antwoordButtons {
    text-align: center;
}

#antwoordExtraDiv {
    margin-top: 2.5%;
    text-align: center;
    visibility: hidden;
}

#testButtons {
    position: absolute;
    left: 30%;
    right: 30%;
    text-align: center;
    width: 40%;
    bottom: 10%;
    visibility: hidden;
}

#testbutton1 {
    background-color: #79CDCD;
}

#testbutton2 {
    margin-left: 25px;
    background-color: #79CDCD;
}

@media only screen and (min-width: 1200px){ 
    #slider{
        margin-top: 20px;
        width:80%;
        height:60px;
        border:3px solid #000;
        overflow:hidden;
        margin-left: auto;
        margin-right: auto;
    }

    #sliderbar{
        height:60px;
        background: #c9ecad;
    }

    #percent {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        left: 25px;
        position: relative;
        top: -40px;
    }

    input[type="submit"], button{
        background-color: #c6ffaf;
        text-align: center;
        font-size: 20px;
        font-family: sans-serif;
        width: 200px;
        height: 80px;
        border: 0;
        border-radius: 10px;
        outline: none;
        margin-left: 2.5%;
    }

    #vraag {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 80px;
        font-weight: normal;
    }

    #extraVraag {
        font-weight: normal;
        font-size: 20px;
    }

    #volgendeVorigeVoltooiButtons{
        margin-top: 2.5%;
    }

    #vorige {
        background-color: #c9ecad;
        float: left;
    }

    #volgende {
        background-color: #c9ecad;
        margin-right: 2.5%;
        float: right;
    }

    #cmdbutton {
        background-color: #c9ecad;
        margin-right: 2.5%;
        float: right;
    }

    #welkomtekst {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 150px;
        text-align: center;
    }

    #startForm {
        text-align: center;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1200px), (orientation: portrait) { 
    #slider{
        margin-top: 20px;
        width:80%;
        height:30px;
        border:3px solid #000;
        overflow:hidden;
        margin-left: auto;
        margin-right: auto;
    }

    #sliderbar{
        height:30px;
        background: #c9ecad;
    }

    #percent {
        color: #000000;
        font-size: 12px;
        font-weight: bold;
        left: 25px;
        position: relative;
        top: -20px;
    }

    input[type="submit"], button{
        background-color: #c6ffaf;
        text-align: center;
        font-size: 12px;
        font-family: sans-serif;
        width: 150px;
        height: 40px;
        border: 0;
        border-radius: 10px;
        outline: none;
        margin-left: 2.5%;
        margin-bottom: 2.5%;
    }

    #vraag {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 80px;
        font-size:12px;
    }

    #extraVraag {
        font-weight: normal;
        font-size: 12px;
    }

    #volgendeVorigeVoltooiButtons{
        margin-top: 2.5%;
        text-align:center;	
    }

    #welkomtekst {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
    }

    #startForm {
        text-align: center;
        margin-top: 20px;
    }
}

