#slider{
    margin-top: 20px;
    width:80%;
    height:50px;
    border:1px solid #000;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
}
#sliderbar{
    width:37%;
    height:50px;
    border-right: 1px solid #000000;
    background: #00cc00;
}
#percent {
    color: #000000;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -35px;
}

input[type="button"], [type="submit"]{
    border : 1px;
    background-color: #E3E1B8;
    border-radius: 5px;
    text-align: center;
    font-size: 21px;
    width: 200px;
    height: 100px;
    margin-left: 10px;
}

input[type="button"]:hover, [type="submit"]:hover{
    background-color: #b0b0a0;
}

input[type="button"]:active, [type="submit"]:active{
    background-color: #a3a398;
}

#vraagBox {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#vraag {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    width: 60%;
}

#antwoordButtons {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#antwoordExtraDiv {
    margin-left: 10%;
    visibility: hidden; 
}

#volgendeVorigeButtons {
    margin-left: 1.8%;
    margin-right: auto;
    width: 95%;
    position: absolute;
    bottom: 5%;
}

#vorige {
    float: left;
    position: relative;
}

#volgende {
    float: right;
    position: relative;
}

#cmdbutton {
    position: absolute;
    right: 2.6%;
    bottom: 5%;
    visibility: hidden;
}
