body {
    background-image: url("images/background.png");
    font-size:18px;
}

table tr td,
table tr th {
    padding-top: 20px;
    padding-right: 75px;
}

table {
    font-size: 20px;
}


.btn-default {
    color: #333;
    background-color: #4cdb4c;
    width: 200px;
    height: 50px;
    font-size: 16px;
    border: none;
}

.navbar-inverse {
    background-color: #4cdb4c;
    border: none;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #333;
    }

.btn:hover {
    background-color: #00cc00;
}

.btn:focus {
    background-color: #00cc00;
}
