@model IEnumerable<WebAPI.Models.PatientMantelzorger>

@{
    ViewBag.Title = "Mantelzorgers";
}

<br />

<h2>Mantelzorgers</h2>

<hr />

<table style="width:70%; font-size:20px" cellpadding="10">

    <tr>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Email</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Vnaam</td>
            <td>@item.Anaam</td>
            <td>@item.Email</td>
        </tr>

    }

</table>