@{
    ViewBag.Title = "vragenlijstverstuurd";
}


<br />

<h2>Vragenlijst verstuurd</h2>

<br />

<hr />

<br />

<h4>De vragenlijst "@ViewBag.VragenlijstBeschrijving" is verstuurd 
    naar: <br /> <br /> <br />Patiënt: @ViewBag.PatientNaam <br/><br /> Mantelzorger: @ViewBag.MantelzorgerNaam</h4>

<br />
<br />

<button class="btn btn-default" onclick="location.href='@Url.Action("Index")'">
    Terug
</button>
