@{
    ViewBag.Title = "vragenlijstverstuurd";
}


<br />

<h2>Vragenlijst verstuurd</h2>

<br />

<hr />

<h3>De vragenlijst is verstuurd.</h3>

<br />

<div>
    @Html.ActionLink("Terug", "Index")
</div>
