@model WebAPI.Models.Vragenlijst

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/KnockoutModels/addVragenlijstViewModel.js"></script>

<br />

<h2>Voeg vragenlijst toe</h2>

<br />

<hr />

<div data-bind="with: addVragenlijstViewModel">
    @Html.Partial("_AddVragenlijst")
</div>

<input type="hidden" value="@Model.Dokter_Id" id="dokterId" />

<br />
<br />
<br />

<button class="btn btn-default" onclick="location.href='@Url.Action("Index")'">
    Terug
</button>
