@model WebAPI.Models.IndexViewModel
@{
    ViewBag.Title = "Mijn account";
}
<br />

<h2>@ViewBag.Title</h2>

<hr />

<p class="text-success">@ViewBag.StatusMessage</p>

<br/>

<h4>Verander je account instellingen</h4>

<br />

@if (Model.HasPassword)
{
    <button class="btn btn-default" onclick="location.href='@Url.Action("ChangePassword")'">
        Verander wachtwoord
    </button>
}
else
{
    <button class="btn btn-default" onclick="location.href='@Url.Action("SetPassword")'">
        Maak een wachtwoord aan
    </button>
}
